.messages {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

ul {
    list-style: none;
    list-style-type: none;
}

.nav-padding {
    position: relative;
    top: 40px;
}

.nav>li>a {
    padding-top: 25px;
    padding-bottom: 5px;
}

.breadcrumb {
    width: 75vw !important;
    position: relative;
}

#post-breadcrumb {
    background-color: #dce6f5;
}

#post-delete {
    position: absolute;
    right: 5px;
    font-size: 15px;
}

.post_username {
    position: relative;
    left: 30px;
}

 #nav-pills {
    background-color: #c4c4c4 !important;
    color: #728f96;
}
.nav-pills>li>a.active,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #c4c4c4 !important;
    color: #728f96;
}

#title {
    font-size: 40px;
    color: black !important
}
