.messages {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

ul {
    list-style: none;
    list-style-type: none;
}

.nav-padding {
    position: relative;
    top: 40px;
}

.nav>li>a {
    padding-top: 25px;
    padding-bottom: 5px;
}
