<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'TextOnly/css/master.css'%}">
    <link rel="stylesheet" href="{% static 'TextOnly/js/main.js'%}">
    <head>
        <meta charset="utf-8">
    </head>
    <body>


        <ul class="nav nav-pills nav-justified" role="navigation" id="navbar">
            <li class="nav-item nav-link active"> <a href="{% url 'home' %}"><h3>Text Only</h3></a></li>
            <li class="nav-item nav-link active"> <a href="{% url 'communities:all' %}"> <h3> Communities</h3></a></li>
            {% if user.is_authenticated %}
                <li class="nav-item nav-link active"> <a href="{% url 'communities:create' %}"> <h3>Create a Community</h3> </a></li>
                <li class="nav-item nav-link active"> <a href="{% url 'accounts:logout' %}"> <h3>Log Out</h3></a></li>
                <li class="nav-item nav-link active"> <a href="{% url 'posts:for_user' username=user.username %}"> <h3>My Posts</h3></a></li>
            {% else %}
                <li class="nav-item nav-link active"> <a href="{% url 'accounts:signup' %}"> <h3>Sign Up</h3> </a></li>
                <li class="nav-item nav-link active"> <a href="{% url 'accounts:login' %}"> <h3>Log In</h3></a></li>
            {% endif %}


<!--            <div class="container">
                <a class="navbar-brand mynav" href="{% url 'home' %}">Text Only</a>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{% url 'communities:all' %}">Communities</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'posts:create' %}">Post</a></li>

                        <li><a href="#{% url 'communities:create' %}">Create a Community</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                        <li> <a href="{% url 'posts:all' %}">See Recent Posts</a> </li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                    {% endif %}


                </ul>
            </div>
        -->
    </ul>
    <div class="nav-padding">



        <div class="container mycontent">
            {% block content %}

            {% endblock %}
        </div>
        <div class="messages alert alert-info alert-dismissible fade in" role="alert">
        {% if messages %}

            {% for message in messages %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                {% if message.tags %} {% endif %}{{ message }}
                </li>
                {% endfor %}

            {% endif %}
        </div>
        </div>
    </body>
</html>
