{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <title>Home: Text Only</title>
    <div class="container">
        <h1>Welcome to Text Only!</h1>
        <h3>Expand your imagination!</h3>
        <h2>An open source social media platform that is tExT 0nLy!</h2>
        <h3>follow me on Twitter!</h3>
        <a href="https://twitter.com/papayathe2nd?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @papayathe2nd</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>

{% endblock %}
