

<div class="post media">
    <div class="breadcrumb" id="post-breadcrumb">
        <h3>{{post.message_html|safe}}</h3>
        {% if user.is_authenticated and post.user == user %}
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete">
                <span href="{% url 'posts:delete' pk=post.pk %}" class="text-danger icon-label" id="post-delete"><strong>Delete</strong></span>
            </a>

        {% endif %}
        <div class="media-body">
            {% if post.user.username != user.username %}
                   <h3 class="post_username"> <a href="{% url 'posts:for_user' username=post.user.username %}"><strong>@{{post.user.username}}</strong></a></h3>
                {% else %}
                    <h3 class="post_username">by Me</h3>
               {% endif %}
               <main role="main" class="container">
                <h5 class="media-heading">

               <span class="username">
                   <a href="{% url 'posts:for_user' username=post.user.username %}"></a>
               </span>
               <span class="time">
                   <a href="{% url 'posts:single' username=post.user.username pk=post.pk%}">
                       {{ post.created_at }}
                   </a>
               </span>
               </h5>
               <div class="media-footer">

               </div>
           </div>
    </div>




</div>
