

<div class="post media">
    <div class="breadcrumb" id="post-breadcrumb">
        <h3>{{post.message_html|safe}}</h3>
        {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
            <span class="text-danger icon-label" id="post-delete"><strong>Delete</strong></span>
        </a>
        {% endif %}
        <div class="media-body">
            {% if post.user.username in request.path and post.user.username|length|add:"20" == request.path|length %}
<!--  Essentially, I created a statement to test if the post is the same as the one url. This is useful when viewing your posts, it removes the username from each post.
So it also will display the username on the community detail page. -->

                   <strong>{{post.user.username}}</strong>
               {% endif %}
               <main role="main" class="container">
                <h5 class="media-heading">

               <span class="username">
                   <a href="{% url 'posts:for_user' username=post.user.username %}"></a>
               </span>
               <span class="time">
                   <a href="{% url 'posts:single' username=post.user.username pk=post.pk%}">
                   </a>
               </span>
               </h5>
               <div class="media-footer">

               </div>
           </div>
    </div>




</div>
