{% extends "posts/post_base.html" %}

{% block prepost %}

    <h1 class="breadcrumb">@{{ post_user.username }}</h1>
{% endblock %}

{% block post_content %}
    {% if post_list.count != 0 %}
        {% for post in post_list  %}
            {% include "posts/_post.html" %}
        {% endfor %}
    {% else %}
        {% if post_user.username == user.username %}
            <h3>You don't have any posts yet!</h3>
        {% else %}
            <h3>This user doesn't have any posts yet!</h3>
        {% endif %}
    {% endif %}
{% endblock %}
